body {
    background-color: black;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1,
h2 {
    color: #fff;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
    .main {
        margin: 1em 0;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
}